@import "../node_modules/patternfly/less/patternfly-additions.less";


@fa-font-path:      "../node_modules/patternfly/components/font-awesome/fonts/";
@font-path:         "../node_modules/patternfly/dist/fonts";
@icon-font-path:    "../node_modules/patternfly/components/bootstrap/fonts/";

// Project list =====================================================

.card-table{
//  background: red;
border-bottom: 1px solid @table-border-color;
//margin-top: 0;

  thead{
    background: transparent;
  }
}

.card-pf-section{
//  background: red;
// border-top: 1px solid @card-pf-border-color;
}

.action{
  width: 100px;
  position: relative;
  a{
    border: none;
    box-shadow: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}


.navbar-pf-lsg{
  .navbar-brand {
    padding: 12px 0;
  }  
  .navbar-utility {
    > li > a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    li.dropdown > .dropdown-toggle {
      .pficon-user {
        top: 12px;
      }
    }    
  }  
}
